/* these are styles for the changewatcher in dtack_javascript */
/* watchfrog #177 */

DIV.dtack_changewatcher_container {
  position: fixed;
  top: 4px;
  left: 400px;
  z-index: 2002;
  border: 2px solid gold;
  background-color: white;
  padding: 4px;
  color: black;
  font-size: 9px;
  max-width: 640px;
  max-height: 800px;
  overflow: auto;
  background-color: #FFFFEE;
}

DIV.dtack_changewatcher_container A,
DIV.dtack_changewatcher_container DIV,
DIV.dtack_changewatcher_container {
  font-size: 10px;
  font-family: Verdana;
  line-height: normal;
}

DIV.dtack_changewatcher_container ._status {
  color: red;
}

DIV.dtack_changewatcher_container ._minimized,
DIV.dtack_changewatcher_container ._normal {
  display: inline-block;
}

DIV.dtack_changewatcher_container ._normal {
  min-width: 320px;
}

DIV.dtack_changewatcher_container ._normal_button,
DIV.dtack_changewatcher_container ._minimize_button {
  width: 9px;
  height: 9px;
  cursor: pointer;
  display: inline-block;
}

DIV.dtack_changewatcher_container ._normal_button {
  background-image: url(dtack_changewatcher_plus.gif);
}
DIV.dtack_changewatcher_container ._minimize_button {
  background-image: url(dtack_changewatcher_minus.gif);
}

DIV.dtack_changewatcher_container ._title {
  font-weight: bold;
}

DIV.dtack_changewatcher_container ._title,
DIV.dtack_changewatcher_container ._watching,
DIV.dtack_changewatcher_container ._buttons {
  display: inline-block;
}

DIV.dtack_changewatcher_container ._button {
  color: blue;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
